name: CI-CD Pipeline

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

permissions:
  security-events: write
  actions: read
  contents: read
  packages: write
  id-token: write

jobs:
  # ------------------------
  # Code Scan (Codeql)
  # ------------------------
  Codeql-scan:
    name: Code scan
    uses: aba-enterprise/enterprise-ci-templates/.github/workflows/codeql-template.yml@main
    with:
      languages: '["csharp"]'
      build-mode: "autobuild"   # "none", "autobuild", or "manual"
      dotnet-version: "8.0.x"
    secrets: inherit
    

  # ------------------------
  # CI Stage (Build Image and Push to ECR)
  # ------------------------
  ci:
    name: Build and Push Image
    needs: Codeql-scan
    uses: aba-enterprise/enterprise-ci-templates/.github/workflows/docker-image-template.yml@main
    with:
      project-path: './dotnet-ecs-sample/dotnet-ecs-sample.csproj'
      dockerfile-path: './dotnet-ecs-sample/Dockerfile'
      environment: dev
    secrets: inherit

  # ------------------------
  # Deploy to Dev (auto) ECS Task + Service
  # ------------------------
  ecs-deploy-dev:
    needs: ci
    uses: aba-enterprise/enterprise-ci-templates/.github/workflows/ecs-taskservice-template.yml@main
    with:
      service-name: ${{ vars.SERVICE_NAME }}
      task-family: ${{ vars.TASK_FAMILY }}
      container-name: ${{ vars.CONTAINER_NAME }}
      desired-count: ${{ vars.DESIRED_COUNT }}
      image-tag: ${{ github.sha }}
      environment: dev
    secrets: inherit

  # # ------------------------
  # # Deploy to QA (requires approval)
  # # ------------------------
  # ecs-deploy-qa:
  #   name: Deploy to QA
  #   needs: ecs-deploy-dev
  #   uses: aba-enterprise/enterprise-ci-templates/.github/workflows/ecs-taskservice-template.yml@main
  #   with:
  #     service-name: ${{ vars.SERVICE_NAME }}
  #     task-family: ${{ vars.TASK_FAMILY }}
  #     container-name: ${{ vars.CONTAINER_NAME }}
  #     desired-count: ${{ vars.DESIRED_COUNT }}
  #     image-tag: ${{ github.sha }}
  #     environment: qa
  #   secrets: inherit
  
  # # ------------------------
  # # Deploy to Prod (requires approval)
  # # ------------------------
  # ecs-deploy-prod:
  #   name: Deploy to Prod
  #   needs: ecs-deploy-qa
  #   uses: aba-enterprise/enterprise-ci-templates/.github/workflows/ecs-taskservice-template.yml@main
  #   with:
  #     service-name: ${{ vars.SERVICE_NAME }}
  #     task-family: ${{ vars.TASK_FAMILY }}
  #     container-name: ${{ vars.CONTAINER_NAME }}
  #     desired-count: ${{ vars.DESIRED_COUNT }}
  #     image-tag: ${{ github.sha }}
  #     environment: prod
  #   secrets: inherit
