name: CI-CD Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - Feature-*
      - main
  pull_request:
    branches:
      - main
      - Integration
      - develop

permissions:
  security-events: write
  actions: read
  contents: read
  packages: write
  id-token: write

jobs:
  # ------------------------
  # Code Scan (Codeql)
  # ------------------------
  Codeql-scan:
    name: GHAS scan
    uses: aba-enterprise/enterprise-ci-templates/.github/workflows/codeql-template.yml@main
    with:
      languages: '["csharp"]'
      build-mode: "autobuild"   # "none", "autobuild", or "manual"
      dotnet-version: "8.0.x"
      run-codeql-gate-check: "no"
    secrets: inherit
  
  # ------------------------
  # Veracode
  # ------------------------
  Veracode-scan:
    name: Veracode scan
    needs: Codeql-scan
    uses: aba-enterprise/enterprise-ci-templates/.github/workflows/veracode-baseline-scan-template.yml@main
    with:
      run-veracode-gate-check: "yes"
    secrets: inherit
  
  # ------------------------
  # Sonarqube scan
  # ------------------------
  Sonarqube-scan:
    name: Sonarqube scan
    needs: Codeql-scan
    uses: aba-enterprise/enterprise-ci-templates/.github/workflows/sonarqube-scan-template.yml@main
    with:
      projectKey: 'aba-d_demogitactions'
      projectName: 'demogitactions'
      projectPath: "dotnet-ecs-sample/dotnet-ecs-sample.csproj"
      run-sonarqube-gate-check: "yes"
      organizationKey: org-testfordemo
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  # ------------------------
  # CI Stage (Build Image and Push to ECR)
  # ------------------------
  ci:
    name: Build Image and Push to ECR
    needs: [Sonarqube-scan, Veracode-scan]
    uses: aba-enterprise/enterprise-ci-templates/.github/workflows/docker-image-template.yml@main
    with:
      project-path: './dotnet-ecs-sample/dotnet-ecs-sample.csproj'
      dockerfile-path: './dotnet-ecs-sample/Dockerfile'
      environment: dev
    secrets: inherit

  # ------------------------
  # Deploy to Dev (auto) ECS Task + Service
  # ------------------------
  ecs-deploy-dev:
    needs: ci
    uses: aba-enterprise/enterprise-ci-templates/.github/workflows/ecs-taskservice-template.yml@main
    with:
      service-name: ${{ vars.SERVICE_NAME }}
      task-family: ${{ vars.TASK_FAMILY }}
      container-name: ${{ vars.CONTAINER_NAME }}
      desired-count: ${{ vars.DESIRED_COUNT }}
      image-tag: ${{ github.sha }}
      environment: dev
    secrets: inherit
    name: CI Pipeline

  notify-jira:
    runs-on: ubuntu-latest
    needs: [Codeql-scan, ci, ecs-deploy-dev, Sonarqube-scan, Veracode-scan]
    if: ${{ always() && (needs.Codeql-scan.result == 'failure' || needs.ci.result == 'failure' || needs.ecs-deploy-dev.result == 'failure' || needs.Sonarqube-scan.result == 'failure' || needs.Veracode-scan.result == 'failure')}}
    steps:
      - name: Create Jira Bug
        run: |
          curl -X POST https://abasahebdubal.atlassian.net/rest/api/2/issue \
          -H "Authorization: Basic ${{ secrets.JIRA_AUTH }}" \
          -H "Content-Type: application/json" \
          -d '{
            "fields": {
              "project": { "key": "SCRUM" },
              "summary": "CI Pipeline Failed - ${{ github.workflow }} #${{ github.run_number }}",
              "description": "One or more jobs failed.\nRepo: ${{ github.repository }}\nRun URL: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}",
              "issuetype": { "id": "10007" },
              "parent": { "key": "SCRUM-2" }
            }
          }'

  # # ------------------------
  # # Deploy to QA (requires approval)
  # # ------------------------
  # ecs-deploy-qa:
  #   name: Deploy to QA
  #   needs: ecs-deploy-dev
  #   uses: aba-enterprise/enterprise-ci-templates/.github/workflows/ecs-taskservice-template.yml@main
  #   with:
  #     service-name: ${{ vars.SERVICE_NAME }}
  #     task-family: ${{ vars.TASK_FAMILY }}
  #     container-name: ${{ vars.CONTAINER_NAME }}
  #     desired-count: ${{ vars.DESIRED_COUNT }}
  #     image-tag: ${{ github.sha }}
  #     environment: qa
  #   secrets: inherit
  
  # # ------------------------
  # # Deploy to Prod (requires approval)
  # # ------------------------
  # ecs-deploy-prod:
  #   name: Deploy to Prod
  #   needs: ecs-deploy-qa
  #   uses: aba-enterprise/enterprise-ci-templates/.github/workflows/ecs-taskservice-template.yml@main
  #   with:
  #     service-name: ${{ vars.SERVICE_NAME }}
  #     task-family: ${{ vars.TASK_FAMILY }}
  #     container-name: ${{ vars.CONTAINER_NAME }}
  #     desired-count: ${{ vars.DESIRED_COUNT }}
  #     image-tag: ${{ github.sha }}
  #     environment: prod
  #   secrets: inherit

